.main_uploader{
    width: 100% !important;
    position: relative  !important;
}

.main_uploader .ant-upload {
    width: 100% !important;
    margin-inline-end: 0px !important;
    height: 250px !important;
}
.upload_img{
    position: absolute !important;
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    bottom: -20px !important ;
    left: 40px!important;
}

