
.m_hh > button{
    font-weight: bold !important;
    font-size: 19px;
    border-radius: 12px !important;
    padding: 1.5rem 1.25rem !important;
    color: black;
    background-color: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed){
    color: black !important;
    background-color: white !important;
}

.tayyb{
    border-radius: 12px !important;
}