
.bx_scrol{
    overflow: scroll !important;
}

.uper{
    height: 500px;
    width:100%;
    position: relative;
    overflow: hidden; 
    border-radius: 20px;
}


.naexdgggg{
  border-radius:  none !important;
}