.resources_header{
    position: sticky !important;
}


.Link_text_open{
    margin-right: 0.25em;
    color: #04111d ;
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 700 !important;
}


.Resources_logo{
    height: 2.5625em;
    border-radius: 4px;
    vertical-align: middle;
    display: flex !important;
}

.main_container_header{
    padding: 0.875em 1.5em;
    display: flex !important;
    justify-content: space-between ;
    align-items: center;
}


.header_button_resources{
    border-radius: 8px;
    background-color: #2081e2;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 0.875em;
    line-height: 1.25em;
    font-weight: 600;
    width: auto !important;
    padding: 0.75em 0.5em 0.75em 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.resourcs_main_bg{
    z-index: 0;
    height: auto !important;
    background-image: url(../Assets/upper_bg.png), url(../Assets/First_bg.png), url(../Assets/third_bg.png);
    background-position: 0px 0px, 100% 0%, 50% 0%;
    background-size: 21.625em, 24.875em, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    padding-bottom: 20px !important;
}

.imges_resources{
    position: relative !important;
    width: 42.5em !important;
    height: 34.125em !important;
}

.react_re_img{
    will-change: transform ;
    opacity: 1;
    transform-style: preserve-3d;
    transform: translate3d(0px, -26.42px, 0px) ,scale3d(1, 1, 1), rotateX(0deg), rotateY(0deg), rotateZ(0deg), skew(0deg, 0deg);
}
.hero-img.is--hero-learn.z-8 {
    left: 15.073125em;
    right: auto;
    bottom: auto;
    z-index: 8;
    width: 10.76625em;
    height: 10.76625em;
}
.hero-img {
    position: absolute;
    /* left: 0%; */
    top: 0%;
    /* right: 0%; */
    /* bottom: 0%; */
    /* width: 100%; */
    /* height: 100%; */
    border: 1px none #000;
    /* -o-object-fit: cover; */
    object-fit: cover;
}
.hero-img.is--hero-learn.z-7 {
    left: auto;
    top: auto;
    right: 44.70875em;
    bottom: -2.858125em;
    z-index: 7;
    width: 5.60375em;
    height: 5.540625em;
}
.hero-img.is--hero-learn.z-6 {
    left: auto;
    top: auto;
    right: 41.326875em;
    z-index: 6;
    width: 22.08875em;
    height: 28.38375em;
}
.hero-img.is--hero-learn.z-5 {
    left: 11.925em;
    top: auto;
    right: auto;
    bottom: 6.0525em;
    z-index: 5;
    width: 3.90375em;
    height: 4.659375em;
}
.hero-img.is--hero-learn.z-4 {
    left: 6.184375em;
    top: 8.41875em;
    right: auto;
    bottom: auto;
    z-index: 4;
    width: 13.46em;
    height: 17.6325em;
}
.hero-img.is--hero-learn.z-3 {
    left: auto;
    top: 5.1em;
    bottom: auto;
    z-index: 3;
    width: 5.5625em;
    height: 5.3em;
}
.hero-img.is--hero-learn.z-2 {
    left: 2em;
    top: auto;
    bottom: 6.75em;
    z-index: 2;
    width: 10.4325em;
    height: 8.186875em;
}
.hero-img.is--hero-learn.z-1 {
    left: 3.45em;
    top: 8.4em;
    bottom: auto;
    z-index: 1;
    width: 4.3225em;
    height: 4.23125em;
}




.resoures_main_heading{
    margin-top: 0px;
    margin-bottom: 0.5em;
    color: #04111d;
    line-height: 100%; 
    font-size: 3em;
    font-weight: 700;
}


.resources_main_minni_heading{
    font-family: Inter, sans-serif;
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 2em !important;
}


.Resources_main_home_buttoon{
    height: 3.75em;
    padding: 1em 1.5em;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 -5px 36px 0 rgb(0 0 0 / 10%);
    transform: scale(1);
    transition: all 700ms ease;
    font-family: Inter, sans-serif;
    color: #04111d;
    line-height: 1.75em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border: 0;
}


.Resources_main_home_buttoon:hover{
    background-color: #fff;
    opacity: 0.7;
}



@media only screen and (max-width:600px){

    .r_bg_responsive{
        width: 300px !important;
        margin-top: 10px !important;
    }


/* .resourcs_main_bg{
    height: 200vh !important;
} */
}
/* 
@media  (min-width:601px) and (max-width:800px)
{
    .resourcs_main_bg{
        height: 150vh !important;
    }
    .r_bg_responsive{
        width: 300px;
    }

} */
