.radius-border{
    border-radius: 12px !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    padding: 9px !important;
}

.dowm{
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .radius-border{
        border-radius: 12px !important;
        font-size: 14px !important;
        font-weight: 700 !important;
    } 
}