.vew1-photo img{
    width: 100% !important;
    border-radius: 12px !important;
    
}
.vew1-photo {
    width: 16% !important;
}
.veiw_head_text-card{
font-size: 17px !important;
font-weight: 700 !important;

}